body{
    background-color: palevioletred;
}
img{
    margin-left: 870px;
    padding: 20px;
}
.container{
    border-radius:5px ;
    padding: 20px;
    background: pink;
    max-width: 360px;
    margin: 0 auto;
    border: 1px solid rgb(68, 6, 6);
    height: 500px;

}
.container form{
    font-size: px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

}
form input, #tukhoa{
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-bottom: 9px;
    width: 350px;
    height: 50px;
    padding: 2px;
}
form input:hover, #tukhoa{
    transition: .2s;
    background: rgb(166, 166, 166);
    color: rgb(0, 105, 137);
}
form #btntim{
    font-size: 13px;
    font-weight: bold;
    margin-left: 160px;
    width: 56px;
    height: 30px;
    border-radius: 3px;
    border: none;
    padding: 2px;
}
form #btntim:hover{
    background: gray;
    color: aqua;
}
#sub{
    width: 120px;
    height: 50px;
    background: rgb(170, 2, 2);
    color: aliceblue;
    margin-left: 234px;
}
#sub:hover{
    background: gray;
    color: aqua;
}
ul{
    width: 300px;
}
ul li {
    background: rgb(145, 132, 132);
    border: 1px solid rgb(148, 138, 138);
    font-size: 20px;
    display: block;
}
ul li a{
    padding: 6px;
    color: aqua;
    display: block;
    text-decoration: none;
}
ul li a:hover{
    font-weight: bold;
    background: aqua;
    color: red;
}
img{
    width: 6%;
    border-radius: 100%;
    
}
form{
    margin-top: 40px;
}
#u{
    margin-top: 7px;
}

#p{
    margin-top: 7px;
}
h2{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.border-dark{
    width: 360px;
    height: 50px;
    border-radius: 4px;
}
.google{
    margin-top: 10px;
}
@media (max-width: 991px){
    img{
        margin-left: 170px;
        width: 100px;
    }
}